@charset "UTF-8";
.about section {
  max-width: 1920px;
  margin: 0 auto;
}
.wrap {
  padding: 0 30px;
}
.about__video {
  vertical-align: top;
  max-width: 100%;
  width: 100%;
  border: none;
}
.about__section-title {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 16px;
  line-height: 1.333;
  font-weight: 400;
}
.KR .about__section-title {
  font-weight: 600;
}
.about__section-description {
  font-size: 0.8125rem;
  line-height: 1.538;
  color: #545C68;
}
@media screen and (min-width: 768px) {
  .about__section-title {
    font-size: 1.375rem;
  }
  .about__section-title > .next-line{
    display: none;
  }
  .about__section-description {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__section-title {
    font-size: 2rem;
    line-height: 1.5;
  }
  .about__section-description {
    font-size: 1rem;
    line-height: 1.75;
  }
}
@media screen and (min-width: 1920px) {
  .about__section-title {
    font-size: 2.5rem;
    line-height: 1.4;
    padding-bottom: 32px;
  }
  .about__section-description {
    font-size: 1.125rem;
    line-height: 1.8888888;
  }
}

.about__main-section {
  text-align: center;
  padding: 126px 0 65px;
}
.main-section__img-wrap {
}
.main-section__tap-logo {
  height: 40px;
  margin: 50px 0 40px;
}
.main-section__lottie-wrap .is-pc-show {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__main-section .about__section-title{
    font-size: 1.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__main-section {
    position: relative;
    text-align: left;
    padding-bottom: 38px;
  }
  .main-section__lottie-wrap {
    width: calc(100% * 1.5625);
    transform: translateX(0%);
  }
  .main-section__lottie-wrap .is-mobile-show {
    display: none;
  }
  .main-section__lottie-wrap .is-pc-show {
    display: block;
  }
  .about__main-section .wrap {
    position: absolute;
    top: 117px;
    left: 16.667vw;
    width: 41.667vw;
  }
  .main-section__tap-logo {
    height: 69px;
    margin: 0 0 68px;
  }
  .about__main-section .about__section-title {
    font-size: 2.3125rem;
    line-height: 1.297;
  }
}
@media screen and (min-width: 1440px) {
  .about__main-section .wrap {
    width: 50vw;
  }
  .main-section__lottie-wrap {
    margin-top: -60px;
  }
}
@media screen and (min-width: 1920px) {
  .about__main-section .wrap {
    width: 960px;
    left: 320px;
  }
  .about__main-section .about__section-title {
    font-size: 2.8125rem;
  }
  .main-section__lottie-wrap {
    width: 3000px;
  }
}
.about__bg-color {
  overflow: hidden;
  background-color: #E5E5E5;
}
.about__bg-section-wrap {
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__bg-section-wrap {
    position: relative;
    background-image:
      url("../imgs/about/bg/bg_T.png"),
      url("../imgs/about/bg/bg_A.png"),
      url("../imgs/about/bg/bg_P.png"),
      url("../imgs/about/bg/bg_exclamation_mark.png"),
      url("../imgs/about/img_about_safety_crosswalk.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:
      calc(100% - 30px) 94px,
      calc(100% - 30px) calc(70vw * 1.53),
      calc(100% - 30px) calc(170vw * 1.8123),
      calc(100% - 30px) calc(266vw * 1.53),
      calc(100% - 30px) calc(200vw * 1.8123);
    background-size: 70% auto, 100% auto, 100% auto, 100% auto, 100% auto;
  }
}
@media screen and (min-width: 1280px) {
  .about__bg-section-wrap {
    background-position:
      calc(100% - 8.3333vw) 28px,
      calc(100% - 8.3333vw) calc(66.6666666667vw),
      calc(100% - 8.3333vw) calc(66.6666666667vw + 100vw * 1.8123 + 180px),
      calc(100% - 8.3333vw) calc(66.6666666667vw + 100vw * 1.8123 + 100vw * 1.1039),
      calc(100% - 8.3333vw) calc(66.6666666667vw + 100vw * 1.8123 + (100vw * 1.8123 / 3));
    background-size: 66.6666666667vw auto, 100% auto, 100% auto, 75vw auto, 100% auto;
  }
}
@media screen and (min-width: 1920px) {
  .about__bg-section-wrap {
    background-position:
      calc(100% - 160px) 28px,
      calc(100% - 160px) 1280px,
      /*1760px calc(1280px + 100vw * 1.8123 + 180px),*/
      calc(100% - 160px) 4939px,
      /*1760px calc(66.6666666667vw + 100vw * 1.8123 + 100vw * 1.1039),*/
      calc(100% - 160px) 6879px,
      /*1760px calc(66.6666666667vw + 100vw * 1.8123 + (100vw * 1.8123 / 3)),*/
      calc(100% - 160px) 5919px;
    background-size: 1280px auto, 1920px auto, 1920px auto, 1440px auto, 1920px auto;
  }
}

.about__platform-section {
  padding: 98px 0 125px;
}

.platform-section__img-wrap {
  position: relative;
  height: 375px;
  margin-bottom: 48px;
}
.platform-section__phone {
  position: absolute;
  right: 20px;
  top: -10px;
  width: 160px;
}
.platform-section__vehicle {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-24%);
  max-width: 105%;
}
@media screen and (min-width: 768px) {
  .about__platform-section {
    position: relative;
    padding-bottom: 65px;
  }
  .about__platform-section .wrap {
    position: absolute;
    top: 160px;
    left: 97px;
    width: calc(100% - (176px + 97px));
    max-width: 500px;
  }
  .platform-section__img-wrap {
    height: 60vw;
  }
  .platform-section__phone {
    top: 52px;
    right: 30px;
    min-width: 176px;
    max-width: 276px;
    width: 23%;
  }
  .platform-section__vehicle {
    bottom: 0;
    transform: translateX(-24%);
    min-width: 540px;
    width: 60%;
    max-width: 850px;
  }
}
@media screen and (min-width: 1280px) {
  .about__platform-section .wrap {
    top: 120px;
    left: 16.667vw;
    width: 41.667vw;
    max-width: none;
  }
  .platform-section__phone {
    top: 38px;
    right: 16.667vw;
    min-width: auto;
    max-width: none;
    width: calc(16.667vw + 20px);
  }
  .platform-section__vehicle {
    top: 282px;
    transform: translateX(-8.3333vw);
    width: 58.333vw;
    max-width: none;
  }
}
@media screen and (min-width: 1920px) {
  .platform-section__img-wrap {
    height: 1152px;
  }
  .about__platform-section .wrap {
    top: 190px;
    /*width: calc(41.667vw + 30px);*/
    left: 320px;
    width: 770px;
  }
  .platform-section__phone {
    top: 38px;
    right: 292px;
    width: 340px;
  }
  .platform-section__vehicle {
    transform: translateX(-160px);
    top: 420px;
    width: 1120px
  }
}

.about__location-section {
  padding-bottom: 110px;
}
.location-section__video-wrap {
  margin: 0 10px;
}
.location-section__img-wrap {
  position: relative;
  height: 54px;
  margin-bottom: 44px;
}
.location-section__vehicle {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(10%);
}
.location-section__company-logo {
  margin-top: 10px;
  width: 62vw;
}
@media screen and (min-width: 768px) {
  .about__location-section {
    position: relative;
    height: 60vw;
  }
  .about__location-section .wrap {
    position: absolute;
    top: 0;
    left: 97px;
    width: calc(100% - (176px + 97px));
    max-width: 500px;
  }
  .location-section__video-wrap,
  .location-section__img-wrap {
    position: absolute;
    width: 50%;
  }
  .location-section__video-wrap {
    right: 64px;
    bottom: 40px;
  }
  .location-section__img-wrap {
    margin-bottom: 0;
    bottom: 0;
    right: 0;
  }
  .location-section__company-logo {
    width: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .about__location-section {
    position: relative;
    height: 60vw;
  }
  .about__location-section .wrap {
    position: absolute;
    top: 0;
    left: 16.667vw;
    width: 41.667vw;
    max-width: none;
  }
  .about__location-section .wrap .about__section-description {
    max-width: calc(33.3333333333vw - 38px);
  }
  .location-section__video-wrap,
  .location-section__img-wrap {
    position: absolute;
    width: 33.333332vw;
  }
  .location-section__video-wrap {
    right: 16.667vw;
    bottom: auto;
    top: 100px;
  }
  .location-section__img-wrap {
    margin-bottom: 0;
    bottom: auto;
    top: calc(280px + 12vw);
    right: 16.667vw;
  }
  .location-section__vehicle {
    transform: translateX(0);
    right: -10%;
    max-width: 120%;
  }
  .location-section__company-logo {
    margin-top: 30px;
    width: 200px;
  }
}

@media screen and (min-width: 1920px) {
  .about__location-section {
    height: 1152px;
  }
  .about__location-section .wrap {
    left: 320px;
    width: 800px;
  }
  .about__location-section .wrap .about__section-description {
    max-width: 560px;
  }
  .location-section__video-wrap {
    right: 320px;
    bottom: auto;
    top: 140px;
    width: 640px;
  }
  .location-section__img-wrap {
    top: 684px;
    right: 320px;
    width: 640px;
  }
  .location-section__company-logo {
    margin-top: 50px;
    width: 300px;
  }
}

.about__dispatch-section {
  padding-bottom: 120px;
}
.dispatch-section__img-wrap {
  width: calc(100% - 60px);
  margin: 0 auto;
}
.dispatch-section__img-wrap .is-tablet-show{
   display: none;
}
@media screen and (min-width: 768px) {
  .about__dispatch-section {
    position: relative;
    height: 70vw;
    min-height: 540px;
  }
  .dispatch-section__img-wrap {
    width: 100%;
    margin-top: calc(35vw - 94px);
  }
  .dispatch-section__img-wrap .is-mobile-show{
    display: none;
  }
  .dispatch-section__img-wrap .is-tablet-show{
    display: block;
  }
  .about__dispatch-section .wrap {
    position: absolute;
    top: calc(35vw - 60px);
    left: 97px;
    width: calc(100% - (176px + 97px));
    max-width: 400px;
  }
}
@media screen and (min-width: 900px) {
  .dispatch-section__img-wrap {
    margin-top: calc(35vw - 76px);
  }
}
@media screen and (min-width: 1280px) {
  .about__dispatch-section {
    height: auto;
    padding-bottom: 165px;
  }
  .dispatch-section__img-wrap {
    margin-right: calc(8.333333vw + 30px);
    margin-top: -24px;
  }
  .about__dispatch-section .wrap {
    top: 300px;
    left: 16.667vw;
    width: 41.667vw;
    max-width: none;
  }
}
@media screen and (min-width: 1440px) {
  .about__dispatch-section {
    height: auto;
    padding-bottom: 165px;
  }
  .dispatch-section__img-wrap {
    margin-right: calc(8.333333vw + 30px);
    margin-top: -24px;
  }
  .about__dispatch-section .wrap {
    top: 340px;
  }
}
@media screen and (min-width: 1920px) {
  .dispatch-section__img-wrap {
    margin-top: 36px;
    margin-right: 190px;
  }
  .about__dispatch-section .wrap {
    left: 320px;
    top: 480px;
    width: 800px;
  }
}

.about__driving-section {
  padding-bottom: 195px;
}
.driving-section__video-wrap {
  margin: 0 30px 85px;
  border-radius: 16px;
  overflow: hidden;
  border: 10px solid #000;
  box-shadow: 12px 24px 20px rgba(0, 0, 0, 0.4);
}
.driving-section__more-info {
  font-size: 0.75rem;
  color: #737D8C;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .about__driving-section {
    position: relative;
    padding-bottom: calc(48vw * 0.56 + 65px);
  }
  .driving-section__video-wrap {
    position: absolute;
    right: 64px;
    bottom: 0;
    width: 48vw;
    margin: 0;
  }
  .about__driving-section .wrap {
    margin-left: 97px;
    width: calc(100% - (176px + 97px));
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .about__driving-section {
    position: relative;
    padding-bottom: calc(48vw * 0.56 + 65px);
  }
  .driving-section__video-wrap {
    right: 16.667vw;
    width: 41.6666666667vw;
    border: 26px solid #000;
    border-radius: 32px;
  }
  .about__driving-section .wrap {
    margin-left: 16.667vw;
    width: calc(50vw + 30px);
    max-width: none;
  }
  .driving-section__more-info {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1920px) {
  .about__driving-section {
    padding-bottom: 581px;
  }
  .about__driving-section .wrap {
    width: 990px;
    margin-left: 320px;
  }
  .driving-section__video-wrap {
    right: 320px;
    width: 800px;
  }
  .driving-section__more-info {
    font-size: 1.125rem;
  }
}


.about__safety-section {
  padding-bottom: 120px;
}
.safety-section__img-wrap {
  position: relative;
  height: 40vh;
  min-height: 360px;
  margin-bottom: 56px;
  background-image: url("../imgs/about/img_about_safety_crosswalk.png");
  background-repeat: no-repeat;
  background-size: auto 30%;
  background-position: left 50%;
}
.safety-section__traffic-light {
  width: 155px;
  min-width: 155px;
}
.safety-section__vehicle {
  position: absolute;
  top: 50%;
  width: 239px;
  min-width: 239px;
}

@media screen and (min-width: 768px) {
  .about__safety-section {
    position: relative;
    padding: 48vw 0 10vw;
  }
  .safety-section__img-wrap {
    background: none;
    min-height: 70vw;
  }
  .safety-section__traffic-light {
    width: 20vw;
  }
  .safety-section__vehicle {
    top: 20vw;
    width: 40vw;
  }
  .about__safety-section .wrap {
    position: absolute;
    width: calc(100% - (176px + 97px));
    top: 40vw;
    right: 81px;
    max-width: 320px;
  }
}

@media screen and (min-width: 900px) {
  .about__safety-section {
    padding-bottom: calc(10vw + (40vw / 2));
  }
  .safety-section__vehicle {
    top: 30vw;
  }
}
@media screen and (min-width: 1280px) {
  .about__safety-section {
    padding-top: 32vw;
  }
  .safety-section__traffic-light {
    margin-top: 35px;
  }
  .safety-section__vehicle {
    top: 340px;
    width: 40vw;
  }
  .about__safety-section .wrap {
    width: 33.3333333333vw;
    top: 32vw;
    right: 16.667vw;
    max-width: none;
  }
}
@media screen and (min-width: 1440px) {
  .about__safety-section {
    padding-top: 40vw;
  }
  .about__safety-section .wrap {
    top: 40vw;
  }
  .safety-section__vehicle {
    top: 400px;
  }
}
@media screen and (min-width: 1600px) {
  .safety-section__vehicle {
    top: 500px;
  }
}
@media screen and (min-width: 1920px) {
  .about__safety-section {
    padding: 768px 0 576px;
  }
  .about__safety-section .wrap {
    right: 320px;
    width: 640px;
    top: 768px;
  }
  .safety-section__vehicle {
    top: 620px;
    width: 768px;
  }
}

.download-box {
  text-align: center;
  background: linear-gradient(102.47deg, #645AFA 23.33%, #968CFF 118.52%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 54px 40px 52px;
  margin: 0 30px 68px;
}
.download-box__logo {
  width: 104px;
}
.download-box__description {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3889;
  padding: 10px 0 40px;
}
.download-box__buttons {
  display: flex;
  justify-content: center;
}
.download-link {
  display: block;
  width: 116px;
  margin: 0 3px;
}
@media screen and (min-width: 768px) {
  .download-box {
    margin: 0 98px 120px;
  }
  .download-box__description {
    font-size: 1.375rem;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .download-box {
    display: flex;
    text-align: left;
    margin: 10vw 16.667vw 147px;
    align-items: center;
    padding: 50px 8.33vw;
  }
  .download-box__logo {
    width: calc(8.33vw + 20px);
    margin: -10px calc(8.33vw - 30px) -10px -10px;
  }
  .download-box__description {
    font-size: 1.75rem;
    padding-bottom: 21px;
  }
  .download-link {
    width: 194px;
    margin: 0 12px 0 0
  }
}
@media screen and (min-width: 1920px) {
  .download-box {
    margin: 192px 320px 147px;
    padding: 77px 160px 62px;
  }
  .download-box__description {
    font-size: 2.5rem;
    padding-bottom: 33px;
  }
  .download-box__logo {
    width: calc(8.33vw + 80px);
    margin: -50px calc(8.33vw - 50px) -25px -25px;
  }
  .download-link {
    width: 290px;
    margin-right: 17px;
  }
}

.contact {
  padding: 0 82px 82px;
}
.contact__title {
  display: block;
  text-align: center;
  font-size: 1.5625rem;
  padding-bottom: 32px;
}
.KR .contact__title,
.KR .contact__item-title,
.KR .contact__item-email {
  font-weight: 300;
}
.contact__item-icon {
  display: block;
  min-width: 37px;
  height: 37px;
  margin-right: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
.contact__item {
  display: flex;
  justify-content: space-around;
  padding-top: 26px;
}
.contact__item-title {
  display: block;
  font-size: 1rem;
  padding-bottom: 6px;
}
.contact__item-email {
  font-size: 0.8125rem;
}
.contact__item:first-child {
  padding-top: 0;
}
.contact__item-icon.partnership {
  background-image: url("../imgs/icons/icon_hand-c_black.png");
}
.contact__item-icon.cs {
  background-image: url("../imgs/icons/icon_headphone-c_black.png");
}
@media screen and (min-width: 768px) {
  .contact__item-icon {
    width: 56px;
    height: 56px;
    margin-right: 28px;
  }
  .contact__items {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
  }
  .contact__item {
    padding-top: 0;
  }
  .contact__item-title {
    font-size: 1.125rem;
    padding: 6px 0 7px;
  }
  .contact__item-email {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding: 0 calc(25vw + 30px) 120px;
  }
  .contact__title {
    font-size: 2.125rem;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .contact__item-title {
    font-size: 1.25rem;
    padding-bottom: 8px;
  }
  .contact__item-email {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1920px) {
  .contact {
    padding: 0 510px 236px;
  }
  .contact__title {
    font-size: 2.875rem;
    padding-bottom: 86px;
  }
  .contact__item-icon {
    width: 76px;
    height: 76px;
    margin-right: 39px;
  }
  .contact__item-title {
    font-size: 1.5rem;
    padding-bottom: 9px;
  }
  .contact__item-email {
    font-size: 1.375rem;
  }
}
