@charset "UTF-8";

.wrap {
  padding: 56px 30px 48px;
}

@media screen and (min-width: 415px){
  .wrap {
    padding: 64px 7.3vw 48px;
  }
}

@media screen and (min-width: 1280px){
  .wrap {
    padding: 150px 0 165px;
    width: 1015px;
    margin: 0 auto;
  }
}

.section-title {
  font-size: 1.625rem;
  text-align: center;
  padding-bottom: 45px;
}

@media screen and (min-width: 768px){
  .section-title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px){
  .section-title {
    font-size: 3.25rem;
  }
}

.faq-list {
  border-top: 1px solid #C0C7D2;
  padding-bottom: 32px;
}
.faq-list__item {
  border-bottom: 1px solid #E3E7EF;
}
.faq-list__item-title {
  position: relative;
  display: flex;
  padding: 20px 0;
  font-size: 0.9375rem;
  line-height: 1.6;
  cursor: pointer;
}
@media screen and (min-width: 768px){
  .faq-list__toggle-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: calc(50% - 5px);
    background-image: url("../imgs/icons/icon_direction_down-c_purple.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    height: 10px;
    transition: transform 0.4s;
  }
  .selected .faq-list__toggle-icon {
    transform: rotate(180deg);
  }
}
.faq-list__item-title::before {
  display: block;
  content: 'Q';
  padding-right: 24px;
}
.selected > .faq-list__item-content {
  display: block;
}
.faq-list__item-content {
  display: none;
  color: rgba(255,255,255, 0.8);
  font-size: 0.875rem;
  line-height: 1.57;
  background-color: #645AFA;
  border-radius: 5px;
  padding: 20px 14px;
  margin-bottom: 28px;
}
.KR .faq-list__item-content {
  font-weight: 300;
}
@media screen and (min-width: 768px){
  .faq-list__item-content {
    padding: 24px 48px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px){
  .faq-list__item-content {
    line-height: 1.778;
  }
}

.faq-cs-wrap {
  color: #fff;
  padding: 42px 0 102px;
  background: linear-gradient(111.35deg, #645AFA 40.54%, #968CFF 179.19%)
}
.faq-cs__title {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 50px;
}
.KR .faq-cs__title {
  font-weight: 300;
}
@media screen and (min-width: 1280px){
  .faq-cs-wrap {
    padding: 104px 0 137px;
  }
  .faq-cs__title {
    font-size: 2.5rem;
    padding-bottom: 67px;
  }
}

.faq-cs__contact-item {
  display: flex;
  margin: 15px auto 0;
  background-color: rgba(255,255,255,.1);
  border-radius: 7px;
  width: 247px;
  height: 71px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px){
  .faq-cs__contact {
    display: flex;
    justify-content: center;
  }
  .faq-cs__contact-item {
    margin: 0 8px;
    width: 32%;
    max-width: 384px;
  }
}
@media screen and (min-width: 1280px){
  .faq-cs__contact-item {
    margin: 0 10px;
    width: 486px;
    height: 158px;
    max-width: none;
  }
}

.faq-cs__icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 22px 24px;
  min-width: 76px;
  height: 71px;
  margin-right: 2px;
}
.faq-cs__icon.email {
  background-image: url("../imgs/icons/icon_email-c_white.png");
  background-size: 30px 27px;
}
.faq-cs__icon.headphone {
  background-image: url("../imgs/icons/icon_headphone-c_white.png");
  background-size: 28px 30px;
}
@media screen and (min-width: 1280px){
  .faq-cs__icon {
    height: 158px;
    width: 94px;
    margin-left: 25px;
  }
  .faq-cs__icon.email {
    background-size: 41px 37px;
  }
  .faq-cs__icon.headphone {
    background-size: 40px 41px;
  }
}
.faq-cs__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.0625;
}
.faq-cs__call-center-number > .call-center__item {
  display: block;
}

.faq-cs__info span{
  margin-bottom: 3px;
}
.faq-cs__info span:last-child{
  margin-bottom: 0;
}
.faq-cs__info .small-text{
  font-size: 0.75rem;
}
@media screen and (min-width: 1280px){
  .faq-cs__info > span{
    margin-bottom: 15px;
  }
  .faq-cs__info-title {
    font-size: 1.5rem;
  }
  .faq-cs__info-email {
    font-size: 1.375rem;
  }
  .faq-cs__call-center-number, .faq-cs__call-center-number > .small-text {
    font-size: 1.0625rem;
  }
  .faq-cs__call-center-number > .call-center__item {
    display: inline;
  }
}
