@charset "UTF-8";

@font-face {
  font-family: webFontInterstate;
  src: url('../font/en/Interstate-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: webFontInterstate;
  src: url('../font/en/Interstate-light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: webFontInterstate;
  src: url('../font/en/Interstate-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: webFontIBMPlexSans;
  src: url('../font/kr/IBMPlexSansKR-Medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: webFontIBMPlexSans;
  src: url('../font/kr/IBMPlexSansKR-Regular.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: webFontIBMPlexSans;
  src: url('../font/kr/IBMPlexSansKR-SemiBold.woff2') format('woff2');
  font-weight: 600;
}


@font-face {
  font-family: webFontIBMPlexSans;
  src: url('../font/kr/IBMPlexSansKR-Bold.woff2') format('woff2');
  font-weight: 700;
}
